<!doctype html>
<html>
  <head>
    <title>File Upload</title>
    <style>
        body {
          background-color: blue;
          color: white;
          text-align: center;
        }
    
        form {
          margin: auto;
          width: 50%;
        }
      </style>
  </head>
  <body>
    <h1>Upload Audio</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
    <!-- <h2>Or record audio</h2> (comming soon) -->
  </body>
</html>